/* UNIVERSAL STYLES */
html, body {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(255, 242, 242);
}

body {
    padding-top: 5.25rem;
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(32, 64, 76);
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(32, 64, 76);
}

p {
    font-size: 1rem;
    color: rgb(74, 74, 74);
}

/* CARDS */
.card {
    font-weight: 900;
    font-size: 7rem;
    color: white;
    height: 12.5rem;
    background-color: rgb(32, 64, 86);
    border-radius: 8px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}