/* UNIVERSAL STYLES */
html, body {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(230, 230, 230);
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    padding-top: 2rem;
    height: 100%;
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(32, 64, 76);
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(32, 64, 76);
}

p {
    font-size: 1rem;
    color: rgb(74, 74, 74);
}

.container.row {
    margin: 0;
    width: 100%;
}
/* CARDS */
.card {
    font-weight: 900;
    font-size: 7rem;
    color: white;
    height: 12rem;
    max-width: 20%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    margin: 1px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.img-background {
    background-image: url(../Images/spiritpattern2.jpg);
    background-size: 200%;
}

.noclick {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 9999; /* or maybe higher */
    background-color: transparent;
}

img.value1, img.value2, img.value3, img.value4, img.value5, img.value6, img.value7, img.value8 {
    width: 100%;
}

@media (max-width: 750px) {
    .card {
        height: 8rem;
        font-size: 4rem;
    }
}
